@{
  ViewData["Title"] = "Services";
}
@using Karmaplusplus.Models;
@using System.Collections.Generic;

<div class="container">

  <h3>Search Results For '@ViewBag.SearchResults':</h3>
  @if (Model.Count == 0)
  {
    <p> No charities match this search </p>
  }
  else
  {
    <ol>
      @foreach (Charity charity in Model)
      {
        <li>
          <p><strong>@charity.name</strong></p>
          <p>@charity.description</p>
          <p>@charity.profileUrl</p>
          <p>@charity.location</p>
        </li>
        <br>
      }
    </ol>
  }
<p>@Html.ActionLink("Return to the search page", "Index")</p>
</div>